*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* MAIN */

.box{
  width: 33%;
  float: left;
  position: relative;
  padding: 10px;
}

.card{
  position: relative;
}


img{
width: 100%;
}


.discount{
  width: 40px;
  background-color: red;
  color: white;
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 20px;
  font-size: 12px;
  font-weight: bold;
}

.sostenibilita{
  background-color: green;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  left: 50px;
  bottom: 20px;
  color: white;
}

.heart{
  position: absolute;
  right: 0;
  top: 10px;
  padding: 10px;
  background-color: white;
}

.new-price{
  color: red;
}

.old-price{
  text-decoration: line-through;
}

.title{
  text-transform: uppercase;
  font-weight: bold;
}
